<!-- <header class="nav-bar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
                <p>hahahhahaha</p>
            </div>
        </a>

    </div>
</header> -->

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MLH-Prep-April-2</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link " aria-current="page" href="/">Pod Members</a>
                <a class="nav-link" href="/campgrounds/new">About Us</a>
                <a class="nav-link" href="/campgrounds">Projects</a>
                <!-- <a class="nav-link disabled">Disabled</a> -->
            </div>
        </div>
    </div>
</nav>