.nav-bar {
    width: 100%;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.navbar.bg-dark {
    background-color: #133667 !important;
    /* Your custom color */
}

.navbar .nav-link {
    /* Add a linear gradient texture */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff);
    -webkit-background-clip: text;
    color: transparent;
}